    <!-- Header -->
    <header id="head">
        <div class="container">
                <div class="heading-text">							
                            <h1 class="animated flipInY delay1">Start Online Education</h1> <br/>
                            <p>Free Online education template for elearning and online education institute.</p>
                        </div>
            
                    <div class="fluid_container">                       
                    <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                        <div data-thumb="assets/images/slides/thumbs/img1.jpg" data-src="assets/images/slides/img1.jpg">
                            <h2>We develop.</h2>
                        </div> 
                        <div data-thumb="assets/images/slides/thumbs/img2.jpg" data-src="assets/images/slides/img2.jpg">
                        </div>
                        <div data-thumb="assets/images/slides/thumbs/img3.jpg" data-src="assets/images/slides/img3.jpg">
                        </div> 
                    </div><!-- #camera_wrap_3 -->
                </div><!-- .fluid_container -->
        </div>
    </header>
    <!-- /Header -->

  <div class="container">
    <div class="row">
        <div class="col-md-3">
                <div class="grey-box-icon b1"> 
                        <h4>Online Courses</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue
                        eset nec lacus elit dor broma.</p>
                <p><a href="#"><em>Read More</em></a></p>
                </div><!--grey box -->
        </div><!--/span3-->
        <div class="col-md-3">
                <div class="grey-box-icon b2"> 
                        <h4>Meet our Staff</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue
                        eset nec lacus elit dor broma.</p>
                <p><a href="#"><em>Read More</em></a></p>
                </div><!--grey box -->
        </div><!--/span3-->
        <div class="col-md-3">
                <div class="grey-box-icon b3"> 
                        <h4>Latest Updates</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue
                        eset nec lacus elit dor broma.</p>
                <p><a href="#"><em>Read More</em></a></p>
                </div><!--grey box -->
        </div><!--/span3-->
        <div class="col-md-3">
                <div class="grey-box-icon b4">  
                        <h4>Placements</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue
                        eset nec lacus elit dor broma.</p>
                <p><a href="#"><em>Read More →</em></a></p>
                </div><!--grey box -->
        </div><!--/span3-->
</div>
    </div>
      <section class="news-box top-margin">
        <div class="container">
            <h2><span>New Courses</span></h2>
            <div class="row">
       
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src="assets/images/news2.jpg" alt=""></figure>
                            <div class="caption maxheight2">
                            <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><h5>Developer</h5></p>
                                            <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src="assets/images/news3.jpg" alt=""></figure>
                            <div class="caption maxheight2">
                            <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><h5>Photography   </h5></p>
                                            <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src="assets/images/news4.jpg" alt=""></figure>
                            <div class="caption maxheight2">
                           <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><h5>Audio Editing</h5></p>
                                            <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
  
	
    <section class="container">
    <div class="row">
      <div class="col-lg-8"><div class="title-box clearfix "><h2 class="title-box_primary">O Nas...</h2></div> 
      <font align="justify" size="4"><i><p>Gimnazjum Nr 3 im. Aleksandra hr. Fredry w Olkuszu istnieje od 1 września 1999r.<br>
                              Budynek szkoły położony jest przy ul. Janusza Korczaka 7 w Olkuszu.
                              Pierwszym dyrektorem placówki był mgr Marek Lasota, od 2001r. do 2015r. funkcję tę sprawowała mgr Bożena Krok we współpracy z mgr Agatą Kotnis – zastępcą dyrektora. 
                              Od września 2015r. stanowisko dyrektora szkoły powierzono mgr Agacie Kotnis, natomiast stanowisko zastępcy dyrektora mgr Iwonie Lis. 
                              7 kwietnia 2016r. pani Agata Kotnis stanęła do konkursu na dyrektora szkoły i będzie pełnić tę funkcję przez kolejne lata.<br><br>
                              Szkoła realizuje potrzeby i oczekiwania społeczności szkolnej, kształci i wychowuje na miarę XXI wieku. Podstawą naszych działań są takie wartości jak: 
                              mądrość, kreatywność, sprawiedliwość, bezpieczeństwo, zachowanie godności człowieka i kultura słowa. Każdy uczeń w naszej szkole może liczyć na indywidualny rozwój. 
                              Wierzymy, że dając uczniom podstawy gruntownej i rzetelnej wiedzy inspirujemy ich do wysiłku badawczego oraz rozwijania własnych pasji i zainteresowań. 
                              Dokładamy wszelkich starań, by nasi wychowankowie stawali się aktywnymi, samodzielnymi i odpowiedzialnymi Polakami i Europejczykami.<br>
                              W szkole pracuje wysoko wykwalifikowana kadra pedagogiczna stale doskonaląca swój warsztat. Znaczna większość nauczycieli posiada uprawnienia do nauczania dwu przedmiotów. 
                              Zapewniają oni wszechstronny rozwój uczniów poprzez wprowadzanie własnych rozwiązań metodycznych w nauczanych przedmiotach. 
                              Szczególną opieką otaczani są ci uczniowie, którzy mają problemy w nauce. 
                              Dużą wagę przywiązujemy w szkole do wychowania młodzieży. W tym celu wypracowaliśmy jasne zasady wychowawcze. 
                              Szczególe znaczenie ma dla nas kontakt z rodzicami, gdyż to oni mają największy wpływ na wychowanie swoich dzieci. Zawsze służymy wsparciem i pomocą w rozwiązaniu problemów.<br>
                              Od wielu lat osiągamy najwyższe w gminie wyniki z obu części egzaminu gimnazjalnego - jesteśmy szkołą sukcesu.

                      Zajmujemy wysokie lokaty w powiatowych, wojewódzkich i ogólnopolskich konkursach wiedzowych, artystycznych i sportowych. Odnosimy sukcesy w małopolskich konkursach kuratoryjnych.
                      </p><br>
      </i><br></font>	
      <</div>


        <div class="col-lg-4"><div class="title-box clearfix "><h2 class="title-box_primary">Up Coming Courses</h2></div> 
          <div class="list styled custom-list">
          <ul>
          <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Mathematics and Computer Science</a></li>
          <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Mathematics and Philosophy</a></li>
          <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">Philosophy and Modern Languages</a></li>
          <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci." href="#">History (Ancient and Modern)</a></li>
          <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Classical Archaeology and Ancient History</a></li>
          <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Physics and Philosophy</a></li>
          </ul>
          </div>
       </div>
    </div>
    </section>
    
